{% import "macros/form_elements.html.twig" as formElements %}
{{ form_start(form, {'attr': {'class': 'form-horizontal px-5 py-5', 'id': 'trick_form', 'novalidate': 'novalidate'}}) }}
    <div id="trickImages" data-prototype="{{ form_widget(form.images.vars.prototype.file)|e('html_attr') }}">
        {% for image in form.images %}
            {{ form_widget(image.file) }}
            {{ form_errors(image.file) }}
        {% endfor %}
    </div>
    <div id="trickVideos" data-prototype="{{ form_widget(form.videos.vars.prototype.url)|e('html_attr') }}">
        {% for video in form.videos %}
            {{ form_widget(video.url) }}
            {{ form_errors(video.url) }}
        {% endfor %}
    </div>
    <div id="manageTrickInfos">
        <div id="manageTrickNameContainer" class="form-group">
            {{ form_label(form.name, "Name", {'label_attr' : {'class': 'control-label'}}) }}    
            {{ form_widget(form.name) }}
            <span class="invalid-feedback d-block" id="name_error"></span>
        </div>
        <div id="manageTrickDescriptionContainer" class="form-group">
            {{ form_label(form.description, "Description", {'label_attr' : {'class': 'control-label'}}) }} 
            {{ form_widget(form.description) }}
            <span class="invalid-feedback d-block" id="description_error"></span>
        </div>
        <div id="manageTrickCategoryContainer" class="form-group">    
            {{ form_widget(form.category) }}
            <span class="invalid-feedback d-block" id="category_error"></span>
        </div>
        {{ formElements.recaptcha("g-recaptcha trick-captcha") }}
        {% if trickPage == 'edit' %}
            <div id="sectionButtonEditTrick" class="mt-4">
                <a id="deleteTrickBtn" href="{{ path('st_delete_trick', {'slug': trick.slug}) }}" class="btn btn-danger text-white">Delete</a>
                <button id="editTrickBtn" class="btn btn-warning text-white">Edit</button>
            </div>
        {% elseif trickPage == 'add' %}
            <div id="trickButtonSection" class="d-flex justify-content-end mt-4">
                <button id="saveBtn" class="btn btn-primary">Save</button>
            </div>
        {% endif %}
    </div>
    {{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false}) }}