{% extends 'base.html.twig' %}
{% import "macros/form_elements.html.twig" as formElements %}

{% block title %} {{ parent() }} Add trick{% endblock %}

{% block body %}
  <div id="main">
    <article class="col-lg-7" id="trick_block">
    <div id="mainTrickImgContainer">
      <img id="mainTrickImg" class="border-black img-fluid w-100" src="{{ asset('img/preview_trick.jpg') }}" />
      <div class="pb-1 d-flex justify-content-around" id="mainTrickImgControls">
        <a href="#" class='edit-main-trick-img'><img src="{{ asset('img/edit.png') }}" /></a>
        <a href="#" class="delete-main-trick-img"><img src="{{ asset('img/delete.png') }}" /></a>
      </div>
    </div> 
      <div class="py-4" id="medias_container"></div>
      <div class="pb-2" id="pagination">
        <a class="mr-2" id="previous" href="#"><img src="{{ asset('img/prev_disabled.png') }}"/></a>
        <a class="ml-2" id="next" href="#"><img src="{{ asset('img/next_disabled.png') }}"/></a>
      </div>
      <div id="media_error_container">
        <span class="invalid-feedback d-block text-center mt-0 pt-1" id="media_error"></span>
      </div>
      <div class="py-4" id="see_media_container">
        <button id="see_media" class="btn btn-primary">See medias</button>
      </div>
      <div id="addMediaContainer" class="pt-4">
        <div id="addMedia">
          <a class="mr-1" id="addTrickImage" href="#"><img src="{{ asset('img/add_image.png') }}"/></a> or
          <a class="ml-1" id="addTrickVideo" href="#"><img src="{{ asset('img/add_video.png') }}"/></a>
        </div>
      </div>
      {{ form_start(form, {'attr': {'class': 'form-horizontal px-5 py-5', 'id': 'trick_form', 'novalidate': 'novalidate'}}) }}
        <div id="trickImages" data-prototype="{{ form_widget(form.images.vars.prototype.file)|e('html_attr') }}">
          {% for image in form.images %}
            {{ form_widget(image.file) }}
            {{ form_errors(image.file) }}
          {% endfor %}
        </div>
        <div id="trickVideos" data-prototype="{{ form_widget(form.videos.vars.prototype.url)|e('html_attr') }}">
          {% for video in form.videos %}
            {{ form_widget(video.url) }}
            {{ form_errors(video.url) }}
          {% endfor %}
        </div>
        <div id="manageTrickInfos">
          <div id="manageTrickNameContainer" class="form-group">
            {{ form_label(form.name, "Name", {'label_attr' : {'class': 'control-label'}}) }}    
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            <span class="invalid-feedback d-block" id="name_error"></span>
          </div>
          <div id="manageTrickDescriptionContainer" class="form-group">
            {{ form_label(form.description, "Description", {'label_attr' : {'class': 'control-label'}}) }} 
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
            <span class="invalid-feedback d-block" id="description_error"></span>
          </div>
          <div id="manageTrickCategoryContainer" class="form-group">    
            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
            <span class="invalid-feedback d-block" id="category_error"></span>
          </div>
          {{ formElements.recaptcha("g-recaptcha trick-captcha") }}
          <div id="trickButtonSection" class="d-flex justify-content-end mt-4">
            <button id="saveBtn" class="btn btn-primary">Save</button>
          </div>
        </div>
        {{ form_widget(form._token) }}
      {{ form_end(form, {'render_rest': false}) }}
    </article>
  </div>
{% endblock %}

{% block javascripts %}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  {{ parent() }}
  <script src="{{ asset('/js/add_trick.js') }}"></script>
{% endblock %}  