{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Add trick{% endblock %}

{% block body %}
  <div id="main">
    <article class="col-lg-7" id="trick_block">
      <div id ="trick_image">
        <img class="img-fluid border-black w-100" src="{{ asset('img/preview_trick.jpg') }}" />
      </div>
      <div class="py-4" id="medias_container"></div>
      <div class="pb-2" id="pagination">
        <a class="mr-2" id="previous" href="#"><img src="{{ asset('img/prev_disabled.png') }}"/></a>
        <a class="ml-2" id="next" href="#"><img src="{{ asset('img/next_disabled.png') }}"/></a>
      </div>
      <div id="media_error_container">
        <span class="invalid-feedback d-block text-center mt-0" id="media_error"></span>
      </div>
      <div id="addMediaContainer" class="py-4">
        <div id="addMedia">
          <a class="mr-1" id="addTrickImage" href="#"><img src="{{ asset('img/add_image.png') }}"/></a> or
          <a class="ml-1" id="addTrickVideo" href="#"><img src="{{ asset('img/add_video.png') }}"/></a>
        </div>
      </div>
      {{ form_start(form, {'attr': {'class': 'form-horizontal px-5 py-5 border-black', 'id': 'trick_form', 'novalidate': 'novalidate'}}) }}
        <div id="trickImages" data-prototype="{{ form_widget(form.images.vars.prototype.file)|e('html_attr') }}">
          {% for image in form.images %}
            {{ form_widget(image.file) }}
            {{ form_errors(image.file) }}
          {% endfor %}
        </div>
        <div id="trickVideos" data-prototype="{{ form_widget(form.videos.vars.prototype.url)|e('html_attr') }}">
          {% for video in form.videos %}
            {{ form_widget(video.url) }}
            {{ form_errors(video.url) }}
          {% endfor %}
        </div>
        <div class="form-group">
          {{ form_label(form.name, "Name", {'label_attr' : {'class': 'control-label'}}) }}    
          {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
          <span class="invalid-feedback d-block" id="name_error"></span>
        </div>
        <div class="form-group">
          {{ form_label(form.description, "Description", {'label_attr' : {'class': 'control-label'}}) }} 
          {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
          <span class="invalid-feedback d-block" id="description_error"></span>
        </div>
        <div class="form-group">    
          {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
          <span class="invalid-feedback d-block" id="category_error"></span>
        </div>
        <div id="buttonSection" class="d-flex">
          <button id="cancelBtn" class="btn btn-danger my-3 mx-auto">Cancel</button>
          <button id="saveBtn" class="btn btn-primary my-3 mx-auto">Save</button>
        </div>
        {{ form_widget(form._token) }}
      {{ form_end(form, {'render_rest': false}) }}
    </article>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('/js/add_trick.js') }}"></script>
{% endblock %}  