{% extends 'base.html.twig' %}
{% block title %} {{ parent() }} Home{% endblock %}

{% block body %}
    <div id="imgBannerContainer">
        <img id="imgBanner" src="{{ asset('img/banner.jpg') }}" alt="image banner"/>
        <h1 id="bannerTitle">Ready for tricks ?</h1>
        <a id="arrowDown" href="#"><img src="{{ asset('img/arrow_down.png') }}" alt="arrow down icon"/></a>
    </div>
    <div class="row w-100 mt-5" id="tricksBlock">
        {% for trick in tricks %}
            <div id="trick-{{ loop.index0 }}" class="mb-5 trick-container-home">
                <div class="card h-100 trick-card-home">
                    {% if app.environment == 'test' %}
                        <a class="trick-img-link" href="{{ path('st_view_trick', {'slug': trick.slug}) }}"><img class="card-img-top trick-img-prev-home" src="{{ asset(trick.images[0].UploadWebTestThumbPath ?? 'img/preview_trick_thumb.jpg' )}}" alt="trick image"></a>
                    {% else %}
                        <a class="trick-img-link" href="{{ path('st_view_trick', {'slug': trick.slug}) }}"><img class="card-img-top trick-img-prev-home" src="{{ asset(trick.images[0].UploadWebThumbPath ?? 'img/preview_trick_thumb.jpg' )}}" alt="trick image"></a>
                    {% endif %}
                    <div class="d-flex justify-content-between pt-2">
                        <h4 class="card-title trick-name-home pt-1 pl-2 w-100">
                            <a class="text-white trick-name-link" href="{{ path('st_view_trick', {'slug': trick.slug}) }}">{{ trick.name }}</a>
                        </h4>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="trick-controls text-right mr-3">
                                <a class="mr-3 control-trick-home" href="{{ path('st_edit_trick', {'slug': trick.slug}) }}"><img src="{{ asset('img/edit.png') }}" alt="edit icon"/></a>
                                <a id="delete-trick-{{ loop.index0 }}" class="delete-control control-trick-home" href="{{ path('st_api_trick_delete', {'slug': trick.slug}) }}"><img src="{{ asset('img/delete.png') }}" alt="delete icon"/></a>
                            </div>
                        {% endif %}
                    </div>
                </div>  
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?jsqueeze'
        '@AppBundle/Resources/public/js/base.js'
        '@AppBundle/Resources/public/js/index.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
