{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Inscription{% endblock %}
{% block stylesheets %} {{ parent() }} {% endblock %}
{% block body %}
      <div class="container" id="wrap">
        <div class="row" id="main">
        <div class="col-md-5" id="registration_block">
        <h1 class="mb-4 text-center text-dark">S'inscrire</h1>
          {{ form_start(form, {'attr': {'class': 'form-horizontal px-5 py-5', 'id': 'registration_form', 'novalidate': 'novalidate'}}) }}
          <div class="form-group">
            {{ form_label(form.username, "Nom d'utilisateur", {'label_attr' : {'class': 'control-label', 'id': 'test'}}) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            <span class="invalid-feedback d-block" id="username_error"></span>
          </div>
          <div class="form-group">
            {{ form_label(form.email, "Email", {'label_attr' : {'class': 'control-label'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            <span class="invalid-feedback d-block" id="email_error"></span>
          </div>
          <div class="form-group">
            {{ form_label(form.password, "Mot de passe", {'label_attr' : {'class': 'control-label'}}) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            <span class="invalid-feedback d-block" id="password_error"></span>
          </div>
          <div class="form-group">
            {{ form_label(form.name, "Nom", {'label_attr' : {'class': 'control-label'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            <span class="invalid-feedback d-block" id="name_error"></span>
          </div>
          <div class="form-group">
            {{ form_label(form.firstName, "Prénom", {'label_attr' : {'class': 'control-label'}}) }}
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
            <span class="invalid-feedback d-block" id="firstName_error"></span>
          </div>
          <div class="form-group">
            {{ form_label(form.image.file, "Avatar", {'label_attr' : {'class': 'control-label'}}) }}
            <span class="invalid-feedback d-block" id="image_error"></span>
            {{ form_widget(form.image.file, {'attr': {'class': 'form-control'}}) }}
          </div>
          <a id="add_preview" href="#"><img id="preview" src="{{ asset('/img/plus.png') }}"/></a>
          <div class="d-flex">
            <button type="submit" class="btn btn-primary mt-3 w-50 mx-auto">S'inscrire</button>
          </div>
          {{ form_end(form )}}
          </div>
        </div>
      </div>
{% endblock %}
{% block javascripts %}
 {{ parent() }}
 <script src="{{ asset('/js/registration.js') }}"></script>
{% endblock %}
