{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Inscription{% endblock %}
{% block stylesheets %} {{ parent() }} {% endblock %}
{% block body %}
      <div class="container" id="wrap">
        <div class="row" id="main">
        <div class="col-lg-5 mt-4" id="registration_block">
        <h1 class="mb-4 text-center">S'inscrire</h1>
          {{ form_start(form, {'attr': {'class': 'form-horizontal px-5 py-5', 'id': 'registration_form'}}) }}
          <div class="form-group">
            {{ form_label(form.username, "Nom d'utilisateur", {'label_attr' : {'class': 'control-label'}}) }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
          </div>
          <div class="form-group">
            {{ form_label(form.email, "Email", {'label_attr' : {'class': 'control-label'}}) }}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
          </div>
          <div class="form-group">
            {{ form_label(form.password, "Mot de passe", {'label_attr' : {'class': 'control-label'}}) }}
            {{ form_errors(form.password) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
          </div>
          <div class="form-group">
            {{ form_label(form.name, "Nom", {'label_attr' : {'class': 'control-label'}}) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
          </div>
          <div class="form-group">
            {{ form_label(form.firstName, "Prénom", {'label_attr' : {'class': 'control-label'}}) }}
            {{ form_errors(form.firstName) }}
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
          </div>
          <div class="form-group">
            {{ form_label(form.image.file, "Avatar", {'label_attr' : {'class': 'control-label'}}) }}
            {{ form_errors(form.image.file) }}
            {{ form_widget(form.image.file, {'attr': {'class': 'form-control'}}) }}
          </div>
          <div class="d-flex">
            <button type="submit" class="btn btn-primary mt-3 w-50 mx-auto">S'inscrire</button>
          </div>
          {{ form_end(form )}}
          </div>
        </div>
      </div>
{% endblock %}
{% block javascripts %}
 {{ parent() }} 
 <script>
  $(function() {
    $('input').each(function() {
      $(this).css('border', '1px solid grey');
    });
  })
 </script>
 {% endblock %}
