{% extends 'base.html.twig' %}
{% import "macros/form_elements.html.twig" as formElements %}
{% block title %} {{ parent() }} {{ trick.name }} details{% endblock %}

{% block body %}
    <div id="main">
        <article class="col-lg-7" id="trick_block">
            <div id="mainTrickImgContainer">
                <img id="mainTrickImg" alt="Preview main trick image" class="border-black img-fluid w-100" src="{{ asset(trick.images[0].uploadWebLargePath ?? 'img/preview_trick.jpg') }}" />
                <h1 id="trickName">{{ trick.name }}</h1>
                <span id="trickRef" hidden>{{ trick.id }}</span>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div class="pb-1 d-flex justify-content-around" id="mainTrickImgControls">
                        <a href="{{ path('st_edit_trick', {'slug': trick.slug}) }}" class='edit-main-trick-img'><img src="{{ asset('img/edit.png') }}" alt="Edit main image icon" /></a>
                        <a href="{{ path('st_delete_trick', {'slug': trick.slug}) }}" class="delete-main-trick-img"><img src="{{ asset('img/delete.png') }}" alt="Delete main image icon" /></a>
                    </div>
                {% endif %}
            </div> 
            <div class="py-4" id="medias_container">
                {% for trickImage in trick.images %}
                    <div id="img-container-{{ loop.index0 }}" class="mt-1 mb-2 media image d-inline-block">
                        <img class="border-black media-img" id="trick-img-thumb-{{ loop.index0 }}" src="{{ asset(trickImage.uploadWebThumbPath) }}" alt="Thumb image">
                    </div>
                {% endfor %}
                {% for trickVideo in trick.videos %}
                    <div id="video-container-{{ loop.index0 }}" class="mt-1 mb-2 media video d-inline-block">
                        <span>{{ trickVideo.url }}</span>
                    </div>
                {% endfor %}
            </div>
            <div class="pb-2" id="pagination">
                <a class="mr-2" id="previous" href="#"><img src="{{ asset('img/prev_disabled.png') }}" alt="Previous media page icon"/></a>
                <a class="ml-2" id="next" href="#"><img src="{{ asset('img/next_disabled.png') }}" alt="Next media page icon"/></a>
            </div>
            <div class="py-4" id="see_media_container">
                <button id="see_media" class="btn btn-primary">See medias</button>
            </div>
            <div class="pt-4 px-5 pb-2" id="trickInfos">
                <p id="trickDescription">{{ trick.description|nl2br }}</p>
                <ul class="mt-5" id="trickSubInfos">
                    <li class="bg-danger">{{ trick.category.name }}</li>
                    <li class="bg-info">Add : {{ trick.addAt|date('d-m-Y \\a\\t H\\hi') }}</li>
                    <li class="bg-primary">By : {{ trick.user.firstName }} {{ trick.user.name }}</li>
                    {% if trick.updateAt is not null %}
                        <li class="bg-info">Update : {{ trick.updateAt|date('d-m-Y \\a\\t H\\hi') }}</li>
                    {% endif %}
                </ul>
                <hr class="bg-dark"/>
            </div>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {{ form_start(form, {'attr': {'id': 'commentForm'}}) }}
                    <div id="formCommentFieldsPosition">
                        {{ formElements.recaptcha("g-recaptcha comment-captcha") }}
                        <div id="commentContentInputContainer" class="form-group">
                            {{ form_widget(form.content) }}
                            <span class="invalid-feedback d-block"></span>
                        </div>
                        <button id="leaveCommentBtn" class="btn btn-primary">Leave a comment</button>
                    </div>
                    <hr class="bg-dark mx-5 mb-0"/>
                {{ form_end(form) }}
            {% endif %}
            <div class="pt-4" id="commentsSection">
                {% if comments is not empty %}
                    {% for comment in comments %}
                        <div class="comment pb-3">
                            <img class="mr-2 mt-4 comment-user-img" src="{{ asset(comment.user.image.uploadWebThumbPath) }}" alt="user image thumbnail"/>
                            <div class="comment-infos">
                                <span class="comment-user-name text-primary">{{ comment.user.firstName }} {{ comment.user.name }}</span>
                                <p class="comment-content mt-2">{{ comment.content }}</p>
                                <span class="comment-add-date">Add :{{ comment.addAt|date('d-m-Y \\a\\t H\\hi\\m\\i\\n s\\s') }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    <button id="loadMoreComment" class="btn btn-primary mx-auto mb-4 mt-2">Load More</button>
                {% else %}
                    <span id="noComments">No Comments</span>
                {% endif %}
            </div>
        </article>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    {{ parent() }}
    <script src="{{ asset('/js/view_trick.js') }}"></script>
{% endblock %}  