{% extends 'base.html.twig' %}
{% import "macros/form_elements.html.twig" as formElements %}

{% block title %} {{ parent() }} Login{% endblock %}
{% block body %}
    <div class="container" id="wrap">
        <div class="row" id="main">
            <div class="col-lg-5" id="security_block">
                <h1 class="mb-4 text-center text-dark">Login</h1>
                <form id="security_form" class="form-horizontal px-5 py-5" action="{{ path('st_login') }}" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey }}</div>
                    {% endif %}
                    <div class="form-group">
                        <label class="control-label" for="username">Username</label>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="_password" />
                    </div>
                    <div class="d-flex flex-column" id="links">
                        <a id="register" href="{{ path('st_registration') }}">Register</a>
                        <a id="forgot_pass" href="{{ path('st_forgot_pass') }}">Forgot password ?</a>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                    <div id="buttonSection" class="d-flex">
                        <button id="loginBtn" class="btn btn-primary my-3 mx-auto">Login</button>
                    </div>
                    {{ formElements.recaptcha("g-recaptcha d-flex justify-content-center mt-2") }}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <script src="{{ asset('/js/login.js') }}"></script>
{% endblock %}